body{
    background-image: linear-gradient(black, rgb(128, 0, 0));

}

h1{
    font-family: sans-serif;
    color: #c0c0c0;
    text-shadow: 2px 2px 5px teal;
    margin: auto;
    
}

.container{
    position:fixed; 
    top:0;
    left:0;
    right:0; 
    bottom:0; 
    width:auto; 
    height:400px; /****set height****/
    margin:auto;
}

img{
    filter: drop-shadow(0 0 10px #c0c0c0);
   
    animation: glow 1s alternate infinite ;
}
@keyframes glow{
    0%{
        filter: drop-shadow(0 0 10px #c0c0c0);
    }
    100%{
        filter: drop-shadow(0 0 25px #c0c0c0);
    }
}